<a href="https://colab.research.google.com/github/samantamrityunjay/ICDcoding/blob/master/DataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from ast import literal_eval
import re

Code to mount google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

<h3> Tables 'adm_icd' and 'diagnoses_icd'
<p>'adm_icd' contains all the Admission Ids of the MIMIC database. <br>
There are total <strong><u>58976</u></strong> admisssion ids.</p>
 <p>Out of which <strong><u>47</u></strong>  do not have any ICD9 codes corresponding to them (NaN values). So we have total of <strong><u>58929</u></strong> in this table with correponding ICD9 codes and converted ICD10 codes.
 <p>There are <strong><u>6984</u></strong>unique ICD9 codes and <strong><u>942</u></strong> ICD9 categories.

In [3]:
adm_icd=pd.read_csv('/content/drive/My Drive/AlgoIntern/Data/Data1.0/adm_icd.csv')

In [4]:
adm_icd

       HADM_ID  ...                                              ICD10
0       100001  ...  Misc,Misc,N179,Misc,Z794,Misc,Misc,Misc,Misc,I...
1       100003  ...  Misc,D62,B182,K740,K7460,K7469,Misc,Misc,I10,M...
2       100006  ...  Misc,J9600,J9690,J189,Misc,E871,Misc,Misc,Z867...
3       100007  ...                            Misc,Misc,Misc,J189,I10
4       100009  ...  I2510,Misc,Misc,E119,E669,Misc,Misc,I200,Z9861...
...        ...  ...                                                ...
58924   199993  ...  Misc,Misc,I4891,I472,J9811,J9819,I340,I348,E87...
58925   199994  ...  J189,I509,J9600,J9690,Misc,J449,Misc,Misc,I489...
58926   199995  ...  Misc,Misc,Misc,Misc,Misc,Misc,Misc,Misc,Misc,F...
58927   199998  ...  I2510,I97710,I97790,I9788,I9789,Misc,I4891,Mis...
58928   199999  ...  Misc,J9600,J9690,J918,N179,E871,Misc,R0902,I25...

[58929 rows x 3 columns]

In [5]:
allmimic=pd.read_csv('/content/drive/My Drive/AlgoIntern/Data/DIAGNOSES_ICD.csv')

In [6]:
allmimic

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

In [7]:
allmimic.HADM_ID.nunique()

58976

In [8]:
admID_without_ICD9codes=allmimic.loc[allmimic.ICD9_CODE.isna()].HADM_ID.to_list()

In [9]:
len(admID_without_ICD9codes)

47

In [10]:
allmimic.ICD9_CODE.nunique()

6984

In [11]:
def category(x):
  if type(x)==str:
    return re.split("(\d{3}|[VE]\d{2})",x)[1]
  else:
    return None

In [12]:
allmimic['ICD9_CATEGORY']=allmimic.ICD9_CODE.apply(category)

In [13]:
print(allmimic.ICD9_CATEGORY.nunique())

942

In [14]:
allmimic.loc[allmimic.ICD9_CATEGORY.isna()].nunique()

ROW_ID           47
SUBJECT_ID       47
HADM_ID          47
SEQ_NUM           0
ICD9_CODE         0
ICD9_CATEGORY     0
dtype: int64

>'notes_icd' contains merged tables of 'adm_ids' and 'discharge summarry table'
>> There are total <strong><u>52726</u></strong><sup>*</sup> admission ids in discharge summary, with corresponding <strong><u>6919</u></strong> ICD9 codes and <strong><u>941</u></strong> ICD9 categories.<br>
<sup>*</sup>4 (actually 6 but 4 are unique) do not have any corresponding ICD codes. These are part of 47 discussed above

In [15]:
notes_icd=pd.read_csv('/content/drive/My Drive/AlgoIntern/Data/Data1.0/notes_icd.csv')

In [16]:
notes_icd

       SUBJECT_ID  ...                                          icd10_pcs
0           22532  ...                   Misc,0W9.93ZZ,0W9.B3ZZ,Misc,Misc
1           13702  ...  5A0.9357,5A0.9457,5A0.9557,0DH.67UZ,0DH.68UZ,3...
2           13702  ...  Misc,Misc,5A1.955Z,0B7.17DZ,0B7.18DZ,0BH.07DZ,...
3           13702  ...  5A1.955Z,0BH.17EZ,0BH.18EZ,Misc,Misc,0DJ.08ZZ,...
4           26880  ...  Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,0BH.17EZ...
...           ...  ...                                                ...
59647       93924  ...                                     Misc,Misc,Misc
59648       17782  ...                                                NaN
59649       96333  ...  Misc,Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,Mis...
59650       66717  ...                            Misc,Misc,Misc,5A1.221Z
59651       73790  ...  0DJ.08ZZ,0BH.17EZ,0BH.18EZ,Misc,5A1.935Z,5A1.945Z

[59652 rows x 23 columns]

In [17]:
notes_icd.CATEGORY.unique()

array(['Discharge summary'], dtype=object)

In [18]:
notes_icd.HADM_ID.nunique()

52726

In [19]:
notes_icd.loc[notes_icd.HADM_ID.isna()].count()

SUBJECT_ID                0
HADM_ID                   0
CATEGORY                  0
DESCRIPTION               0
ISERROR                   0
TEXT                      0
text_mod                  0
sec                       0
split                     0
service:                  0
social history:           0
family history:           0
past medical history:     0
chief complaint:          0
discharge medications:    0
discharge disposition:    0
discharge diagnosis:      0
allergies:                0
physical exam:            0
ICD9_CODE_x               0
ICD10                     0
ICD9_CODE_y               0
icd10_pcs                 0
dtype: int64

In [20]:
print(notes_icd.loc[notes_icd.ICD9_CODE_x.isna()].HADM_ID.count())
print(notes_icd.loc[notes_icd.ICD9_CODE_x.isna()].HADM_ID.nunique())

6
4

In [21]:
admid_withnotes_withoutICD=notes_icd.loc[notes_icd.ICD9_CODE_x.isna()].HADM_ID.to_list()

In [22]:
len(admid_withnotes_withoutICD)

6

In [23]:
y=[b for b in admid_withnotes_withoutICD if b in admID_without_ICD9codes]

>AdmIds that do not have corresponding ICD codes in the discharge summary.

In [24]:
print(y)
print(admid_withnotes_withoutICD)

[110220.0, 110220.0, 182252.0, 109963.0, 142890.0, 109963.0]
[110220.0, 110220.0, 182252.0, 109963.0, 142890.0, 109963.0]

In [25]:
notes_icd.loc[notes_icd.duplicated(['HADM_ID'])]

       SUBJECT_ID  ...                                          icd10_pcs
13           5350  ...                                 Misc,Misc,5A1.221Z
21           9805  ...                                Misc,Misc,Misc,Misc
35            710  ...  0BH.17EZ,0BH.18EZ,0DH.67UZ,0DH.68UZ,3E0.G36Z,5...
55           4127  ...                5A1.935Z,5A1.945Z,0BH.17EZ,0BH.18EZ
60           5239  ...  Misc,Misc,4A0.20N8,4A0.23N8,5A0.2110,5A0.2210,...
...           ...  ...                                                ...
59647       93924  ...                                     Misc,Misc,Misc
59648       17782  ...                                                NaN
59649       96333  ...  Misc,Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,Mis...
59650       66717  ...                            Misc,Misc,Misc,5A1.221Z
59651       73790  ...  0DJ.08ZZ,0BH.17EZ,0BH.18EZ,Misc,5A1.935Z,5A1.945Z

[6926 rows x 23 columns]

In [26]:
notes_icd.loc[notes_icd.HADM_ID==173989]

       SUBJECT_ID  ...                                          icd10_pcs
2749        26483  ...  027.G04Z,027.G0DZ,027.G0ZZ,02N.G0ZZ,02Q.G0ZZ,4...
50910       26483  ...  027.G04Z,027.G0DZ,027.G0ZZ,02N.G0ZZ,02Q.G0ZZ,4...

[2 rows x 23 columns]

In [27]:
notes_icd.loc[notes_icd.DESCRIPTION=='Addendum']

       SUBJECT_ID  ...                                          icd10_pcs
50908       18689  ...                                                NaN
50909       48687  ...  5A1.935Z,5A1.945Z,Misc,0BH.17EZ,0BH.18EZ,Misc,...
50910       26483  ...  027.G04Z,027.G0DZ,027.G0ZZ,02N.G0ZZ,02Q.G0ZZ,4...
50911       92277  ...                       Misc,Misc,Misc,5A2.204Z,Misc
50912        3659  ...  Misc,4A0.20N7,4A0.23N7,4A0.20N7,4A0.23N7,Misc,...
...           ...  ...                                                ...
59647       93924  ...                                     Misc,Misc,Misc
59648       17782  ...                                                NaN
59649       96333  ...  Misc,Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,Mis...
59650       66717  ...                            Misc,Misc,Misc,5A1.221Z
59651       73790  ...  0DJ.08ZZ,0BH.17EZ,0BH.18EZ,Misc,5A1.935Z,5A1.945Z

[4475 rows x 23 columns]

In [28]:
notes_icd.loc[notes_icd.HADM_ID==169684]

    SUBJECT_ID   HADM_ID  ...     ICD9_CODE_y           icd10_pcs
12        5350  169684.0  ...  3615,3612,3961  Misc,Misc,5A1.221Z
13        5350  169684.0  ...  3615,3612,3961  Misc,Misc,5A1.221Z

[2 rows x 23 columns]

In [29]:
notes_icd_fewcols=notes_icd.drop(['SUBJECT_ID','ISERROR'],axis=1)

In [30]:
notes_icd_fewcols.fillna('',inplace=True)

In [31]:
notes_icd_fewcols

        HADM_ID  ...                                          icd10_pcs
0      167853.0  ...                   Misc,0W9.93ZZ,0W9.B3ZZ,Misc,Misc
1      107527.0  ...  5A0.9357,5A0.9457,5A0.9557,0DH.67UZ,0DH.68UZ,3...
2      167118.0  ...  Misc,Misc,5A1.955Z,0B7.17DZ,0B7.18DZ,0BH.07DZ,...
3      196489.0  ...  5A1.955Z,0BH.17EZ,0BH.18EZ,Misc,Misc,0DJ.08ZZ,...
4      135453.0  ...  Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,0BH.17EZ...
...         ...  ...                                                ...
59647  135672.0  ...                                     Misc,Misc,Misc
59648  155710.0  ...
59649  183951.0  ...  Misc,Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,Mis...
59650  169165.0  ...                            Misc,Misc,Misc,5A1.221Z
59651  157100.0  ...  0DJ.08ZZ,0BH.17EZ,0BH.18EZ,Misc,5A1.935Z,5A1.945Z

[59652 rows x 21 columns]

In [32]:
notes_icd_agg=notes_icd_fewcols.groupby('HADM_ID').agg(','.join).reset_index()

In [33]:
notes_icd_agg

        HADM_ID  ...                                          icd10_pcs
0      100001.0  ...
1      100003.0  ...               0W3.P8ZZ,0D9.670Z,0D9.680Z,Misc,Misc
2      100006.0  ...  5A0.9357,5A0.9457,5A0.9557,3E0.3305,3E0.4305,X...
3      100007.0  ...                                          Misc,Misc
4      100009.0  ...                            Misc,Misc,Misc,5A1.221Z
...         ...  ...                                                ...
52721  199993.0  ...  Misc,027.G04Z,027.G0DZ,027.G0ZZ,02N.G0ZZ,02Q.G...
52722  199994.0  ...  5A1.935Z,5A1.945Z,0BH.17EZ,0BH.18EZ,5A1.D00Z,5...
52723  199995.0  ...   Misc,5A1.221Z,Misc,Misc,Misc,Misc,Misc,Misc,Misc
52724  199998.0  ...                                     Misc,Misc,Misc
52725  199999.0  ...                                  0W9.93ZZ,0W9.B3ZZ

[52726 rows x 21 columns]

In [34]:
def split_string_list(x):
    return list(set(re.split(",",x)))

In [35]:
def categoryfromlist(x):
  for i in x:
    y=re.search("(\d{3}|[VE]\d{2})",i)
    if y:
      return list(set([re.split("(\d{3}|[VE]\d{2})",i)[1] for i in x]))
    else:
      return []

In [36]:
notes_icd_agg['ICD9_CODE_x']=notes_icd_agg.ICD9_CODE_x.apply(split_string_list)

In [37]:
notes_icd_agg['ICD9_CATEGORY']=notes_icd_agg.ICD9_CODE_x.apply(categoryfromlist)

In [38]:
notes_icd_agg.loc[notes_icd_agg.HADM_ID.isin(admid_withnotes_withoutICD)]

        HADM_ID                             CATEGORY  ... icd10_pcs ICD9_CATEGORY
5308   109963.0  Discharge summary,Discharge summary  ...         ,            []
5458   110220.0  Discharge summary,Discharge summary  ...         ,            []
22586  142890.0                    Discharge summary  ...                      []
43369  182252.0                    Discharge summary  ...                      []

[4 rows x 22 columns]

In [39]:
notes_icd_agg.HADM_ID.nunique()

52726

In [40]:
total_icd9_codes=[a for b in notes_icd_agg.ICD9_CODE_x.to_list() for a in b]

In [41]:
dict_count_icd9_codes=dict(Counter(total_icd9_codes))
dict_count_icd9_codes=dict(sorted(dict_count_icd9_codes.items(),key=lambda x:x[1],reverse=True))

Dictionary of counts of different ICD codes in the discharge table(not in the whole dataset)

In [42]:
dict_count_icd9_codes

{'4019': 20046,
 '4280': 12842,
 '42731': 12589,
 '41401': 12178,
 '5849': 8906,
 '25000': 8783,
 '2724': 8503,
 '51881': 7249,
 '5990': 6442,
 '53081': 6154,
 '2720': 5766,
 '2859': 5295,
 '2449': 4785,
 '486': 4732,
 '2851': 4499,
 '2762': 4358,
 '496': 4296,
 '99592': 3792,
 'V5861': 3697,
 '5070': 3592,
 '0389': 3580,
 '5859': 3367,
 '40390': 3350,
 '311': 3347,
 '3051': 3272,
 '412': 3203,
 '2875': 3002,
 '41071': 3001,
 '2761': 2985,
 'V4581': 2943,
 '4240': 2876,
 'V1582': 2741,
 '5119': 2693,
 'V4582': 2651,
 '40391': 2566,
 'V290': 2529,
 '4241': 2517,
 '78552': 2501,
 'V5867': 2497,
 '42789': 2396,
 '32723': 2328,
 '9971': 2313,
 '5845': 2223,
 '2760': 2221,
 '7742': 2183,
 '5180': 2137,
 'V053': 2119,
 '4168': 2118,
 '49390': 2113,
 '2767': 2111,
 '45829': 2094,
 '2749': 2033,
 '4589': 1992,
 '73300': 1909,
 '78039': 1879,
 '5856': 1868,
 '5185': 1778,
 '4271': 1767,
 '4254': 1666,
 '4111': 1649,
 'V1251': 1567,
 '30000': 1552,
 '3572': 1552,
 '99811': 1508,
 '27800': 1483,
 '7907': 1472,
 'E8798': 1466,
 '60000': 1464,
 '2930': 1434,
 '41400': 1429,
 '00845': 1428,
 '2768': 1400,
 'V3001': 1391,
 '28521': 1366,
 '4439': 1364,
 'V4501': 1360,
 '5789': 1355,
 '27651': 1348,
 '27652': 1347,
 'E8788': 1317,
 '769': 1299,
 '2765': 1294,
 '431': 1294,
 '4275': 1281,
 'V4986': 1275,
 '79902': 1267,
 '70703': 1260,
 '5715': 1250,
 '99591': 1250,
 '2639': 1240,
 'V103': 1228,
 '42832': 1221,
 '42833': 1210,
 '99812': 1199,
 '42732': 1191,
 'E8782': 1189,
 '07054': 1187,
 'V1046': 1180,
 '49121': 1177,
 '99859': 1174,
 '5712': 1163,
 '2809': 1156,
 '27801': 1150,
 '42823': 1127,
 '25060': 1114,
 '78551': 1108,
 '2948': 1093,
 '42822': 1081,
 '4139': 1078,
 '28529': 1078,
 '3004': 1076,
 '5601': 1056,
 '7793': 1047,
 'V1254': 1043,
 '78791': 1037,
 '570': 1034,
 '77081': 1033,
 'E8497': 1024,
 '78820': 1012,
 '2800': 991,
 '2869': 985,
 '5723': 984,
 '79092': 971,
 'V667': 968,
 '2763': 967,
 'E8889': 965,
 '0414': 958,
 'V3000': 949,
 '78959': 946,
 '99662': 943,
 '5770': 943,
 '34590': 933,
 '25040': 933,
 '3485': 923,
 '9982': 900,
 '30500': 884,
 'V5865': 881,
 '71590': 873,
 '76527': 869,
 'V3101': 853,
 '36201': 849,
 '4148': 848,
 '41519': 845,
 '28860': 844,
 '56210': 830,
 '1985': 813,
 '56400': 810,
 'V4365': 795,
 '29181': 788,
 '48241': 786,
 '42830': 785,
 '5121': 780,
 'V4364': 777,
 '43310': 773,
 '3970': 764,
 '76518': 762,
 '1977': 762,
 '9974': 754,
 'V1005': 748,
 '51882': 743,
 '1983': 738,
 '49320': 732,
 '1970': 729,
 '6826': 728,
 'V502': 724,
 '5853': 723,
 'V4502': 711,
 '3659': 701,
 '43491': 700,
 '30391': 699,
 '04111': 693,
 'E8781': 691,
 'V173': 686,
 '33829': 685,
 '51889': 679,
 'E8859': 678,
 'E9342': 678,
 'V153': 675,
 '5781': 674,
 '51884': 672,
 '5939': 663,
 '34830': 659,
 'V090': 655,
 '07070': 655,
 'V433': 655,
 '5722': 654,
 '3484': 654,
 '7455': 651,
 '4414': 650,
 '5761': 649,
 '5533': 643,
 '7140': 640,
 '1120': 638,
 '34982': 635,
 '43411': 630,
 'V1581': 626,
 '4928': 621,
 '430': 617,
 '04104': 609,
 '77981': 601,
 '4538': 599,
 '29410': 593,
 '7850': 588,
 '58381': 578,
 '29680': 578,
 '30390': 577,
 '2874': 576,
 'V4511': 573,
 '2766': 568,
 '78057': 563,
 '99674': 562,
 'V440': 560,
 '41041': 557,
 '78009': 555,
 'E9331': 554,
 '3310': 552,
 '42741': 551,
 '3314': 547,
 '99731': 545,
 'E9320': 543,
 '6930': 539,
 '41011': 532,
 '515': 529,
 '2764': 523,
 '042': 522,
 '7895': 518,
 '51919': 518,
 '76528': 515,
 '4260': 514,
 '34690': 514,
 '03811': 511,
 'V707': 510,
 '78559': 505,
 'E8809': 505,
 'V1011': 502,
 'V1083': 501,
 '3320': 501,
 '99681': 500,
 '5363': 499,
 '45981': 499,
 'V441': 497,
 '5997': 497,
 '7706': 494,
 '2536': 494,
 '76519': 488,
 '76526': 487,
 '42821': 484,
 '78720': 482,
 '4412': 479,
 'V4589': 477,
 '7242': 475,
 '5570': 474,
 '7843': 472,
 '0413': 470,
 '34290': 465,
 '41402': 464,
 '03842': 464,
 'V422': 463,
 '99672': 460,
 '2867': 456,
 '76517': 456,
 '2841': 454,
 '43889': 452,
 '25002': 452,
 '2753': 451,
 'V462': 451,
 '4011': 451,
 'E8790': 450,
 '77089': 444,
 '9975': 444,
 '25050': 435,
 '2866': 432,
 '53550': 430,
 '25080': 430,
 '4239': 430,
 '7904': 430,
 '39891': 429,
 '42831': 427,
 '3569': 426,
 '70715': 426,
 '43820': 426,
 '19889': 425,
 '44020': 425,
 '5771': 424,
 '70722': 423,
 '4821': 423,
 '3481': 422,
 'V1052': 420,
 '7802': 419,
 'V1082': 419,
 'E8780': 418,
 '5780': 416,
 '73390': 415,
 '99702': 412,
 '25061': 412,
 '7806': 410,
 '45621': 409,
 '42820': 408,
 '7766': 406,
 '25013': 401,
 'V8741': 400,
 '5680': 400,
 '0417': 398,
 '591': 398,
 '4160': 395,
 '86121': 393,
 '6822': 392,
 '03849': 391,
 '9973': 388,
 '7863': 386,
 '42781': 385,
 '30501': 382,
 '7470': 382,
 '30560': 381,
 '4321': 380,
 '4210': 380,
 '3962': 380,
 '72888': 378,
 '70714': 377,
 'V1588': 372,
 '27541': 368,
 '1628': 367,
 '0380': 366,
 '85221': 363,
 'E8498': 362,
 '29281': 359,
 '8600': 355,
 '5762': 353,
 '27669': 353,
 '76516': 353,
 '28522': 351,
 '7245': 350,
 '7291': 350,
 '4373': 350,
 '30301': 345,
 '41091': 345,
 'E8490': 344,
 '57420': 343,
 '45620': 341,
 '3963': 336,
 '77989': 336,
 '7746': 334,
 '5724': 333,
 'V1051': 333,
 '1122': 333,
 '8730': 332,
 '79029': 332,
 '53789': 331,
 'V420': 330,
 '5854': 329,
 '45341': 329,
 '56409': 328,
 '56212': 328,
 '27650': 326,
 '20280': 326,
 '1550': 324,
 '42843': 323,
 '51883': 323,
 '44024': 322,
 'E9478': 322,
 '1623': 321,
 'V08': 319,
 '7100': 317,
 '2848': 316,
 '2113': 314,
 '60001': 313,
 '25041': 312,
 '7464': 311,
 '25001': 309,
 '1976': 305,
 '8054': 304,
 '70705': 304,
 '78052': 303,
 '30393': 302,
 '5184': 299,
 'E8786': 299,
 '04185': 299,
 'V1259': 299,
 '8052': 298,
 '76515': 298,
 '2910': 298,
 '340': 297,
 '5711': 297,
 '7847': 295,
 '73313': 295,
 '49322': 295,
 '78830': 295,
 '53085': 295,
 '185': 294,
 '79001': 293,
 '04119': 293,
 '70707': 292,
 '78060': 292,
 '4142': 290,
 '78701': 289,
 '2554': 287,
 '4580': 285,
 '6961': 283,
 'V1272': 283,
 '7756': 281,
 'E9289': 280,
 '76525': 280,
 '30981': 279,
 '99931': 279,
 '5768': 278,
 '7885': 278,
 '34839': 278,
 '4400': 277,
 '71690': 276,
 'V5866': 276,
 '30401': 275,
 '4263': 274,
 'V4975': 274,
 '25051': 274,
 '07032': 273,
 '34831': 272,
 '7823': 271,
 '5718': 271,
 '4588': 271,
 '53240': 269,
 '5559': 268,
 '41072': 267,
 '5609': 266,
 '585': 263,
 '2752': 262,
 '7070': 262,
 '7840': 261,
 '53140': 261,
 '9972': 261,
 '725': 261,
 '25063': 259,
 '44023': 259,
 '48283': 258,
 '87342': 257,
 '43330': 256,
 'V600': 255,
 '452': 251,
 '44021': 250,
 '8082': 250,
 '135': 249,
 'E8120': 249,
 '78659': 248,
 '1962': 247,
 '27542': 247,
 '2662': 245,
 '7994': 245,
 '1961': 244,
 '3453': 243,
 '29590': 243,
 '3694': 241,
 '28800': 241,
 '7821': 241,
 '3441': 240,
 '5569': 239,
 '33394': 239,
 '85220': 239,
 '04112': 237,
 '43811': 236,
 'V3401': 235,
 '78097': 233,
 '56722': 233,
 'E8147': 233,
 'E9308': 232,
 '99832': 231,
 '56211': 231,
 '4401': 231,
 '8024': 228,
 '5641': 227,
 '56081': 226,
 '4233': 226,
 '4829': 226,
 '5191': 226,
 'V4586': 225,
 '56983': 224,
 '44101': 224,
 '77181': 223,
 'V1301': 223,
 'V4987': 222,
 '8020': 221,
 '36250': 221,
 '3899': 221,
 'E9352': 221,
 '4820': 221,
 '72989': 219,
 'V454': 219,
 '1890': 217,
 '59654': 216,
 'V443': 215,
 'V4579': 214,
 '6823': 214,
 '25541': 213,
 '2252': 213,
 '59970': 213,
 '76514': 212,
 'E8160': 212,
 '99664': 211,
 '5672': 211,
 '7921': 211,
 '78829': 209,
 '8028': 209,
 '99659': 209,
 '53019': 208,
 '1972': 208,
 '4550': 207,
 'V442': 207,
 '0416': 207,
 '7856': 207,
 '23871': 207,
 '99889': 205,
 'V4611': 205,
 '4582': 205,
 '9654': 204,
 '29570': 203,
 '0388': 203,
 '261': 203,
 '45182': 202,
 '25012': 201,
 '04186': 201,
 '5772': 201,
 '5920': 200,
 '99673': 199,
 'E8792': 199,
 '9331': 199,
 '41189': 198,
 'E915': 198,
 '25062': 198,
 '56881': 197,
 '2440': 197,
 'E8796': 197,
 '41511': 197,
 '7210': 196,
 '44422': 196,
 '53010': 195,
 '23875': 194,
 '4370': 194,
 'E9503': 193,
 '78194': 193,
 '76524': 193,
 '2967': 193,
 '5728': 192,
 '78061': 192,
 '8670': 191,
 '481': 191,
 'V4573': 191,
 '9999': 191,
 '25011': 190,
 '04149': 189,
 '5109': 189,
 '5307': 188,
 '72400': 188,
 'V1204': 188,
 '70709': 187,
 '8080': 187,
 '20500': 186,
 '56723': 185,
 '80701': 185,
 '7707': 185,
 '2518': 184,
 '5589': 184,
 '4568': 183,
 '4940': 183,
 'E912': 182,
 'V0980': 182,
 '56089': 182,
 '25043': 181,
 '6827': 181,
 '49392': 181,
 '71536': 181,
 '78550': 181,
 '30590': 181,
 '7708': 180,
 '7905': 180,
 '920': 179,
 '5303': 179,
 '4251': 179,
 '20410': 179,
 '20300': 178,
 'V180': 178,
 '59971': 178,
 'E8700': 178,
 '5531': 177,
 '4242': 177,
 '9992': 177,
 '42842': 177,
 'V4983': 177,
 'E9500': 175,
 '30550': 175,
 '51189': 175,
 '78321': 174,
 'V451': 174,
 '72402': 174,
 'V641': 173,
 'E8791': 173,
 '99682': 173,
 '28981': 173,
 '5750': 173,
 '51851': 172,
 '319': 172,
 '36221': 172,
 'V1087': 172,
 '7837': 171,
 '56981': 171,
 '1125': 170,
 '07044': 170,
 '3383': 170,
 '7812': 170,
 'V5869': 169,
 'E8495': 169,
 '58881': 169,
 '2920': 167,
 '40301': 167,
 '1629': 166,
 '07030': 166,
 '4010': 166,
 '5118': 165,
 '29420': 164,
 '1625': 163,
 '4264': 163,
 '25053': 162,
 '9694': 162,
 '73730': 162,
 '57410': 162,
 '78609': 161,
 '9980': 161,
 '1991': 160,
 '57451': 160,
 '7872': 160,
 'V1042': 159,
 '48242': 158,
 '5738': 158,
 '7824': 158,
 'V1006': 158,
 '99831': 158,
 'V1271': 158,
 '4270': 157,
 '2819': 156,
 '4592': 156,
 '3669': 156,
 '29620': 156,
 '78079': 156,
 'V0254': 155,
 '8056': 155,
 '53190': 154,
 '29040': 154,
 'V8801': 153,
 '80709': 153,
 'E9394': 153,
 '9961': 150,
 '7906': 150,
 '81000': 149,
 '53560': 149,
 '514': 149,
 '2689': 148,
 '6929': 148,
 'V4572': 148,
 '77082': 148,
 '7213': 148,
 '03819': 148,
 '53551': 147,
 '78062': 147,
 '80502': 146,
 '4739': 146,
 '3079': 146,
 '4430': 145,
 '42090': 145,
 '53390': 145,
 'V1302': 144,
 '51902': 144,
 '99661': 144,
 'V293': 144,
 'V6441': 144,
 '5733': 143,
 '70723': 142,
 '3488': 142,
 '4786': 142,
 '71941': 142,
 '33818': 142,
 '99685': 142,
 '7078': 141,
 '55321': 141,
 '78900': 140,
 '5128': 140,
 '2410': 140,
 'V6284': 139,
 '28850': 139,
 '82021': 139,
 '8026': 139,
 'V1255': 139,
 '04109': 139,
 '76503': 139,
 'E9504': 139,
 'E8844': 138,
 '72889': 138,
 'E9359': 138,
 'V5331': 138,
 'V453': 138,
 '4423': 138,
 '5579': 137,
 '28419': 137,
 '41001': 137,
 '4299': 137,
 '3371': 136,
 '45342': 136,
 'E8499': 136,
 '2880': 136,
 '2738': 136,
 'V427': 136,
 '70719': 135,
 '27739': 135,
 '78001': 134,
 '9341': 134,
 '8604': 134,
 '7295': 134,
 '31401': 133,
 '79431': 133,
 '2630': 133,
 '7661': 132,
 '42611': 132,
 '28749': 132,
 '0088': 132,
 '1978': 132,
 '9986': 131,
 '41031': 131,
 '3241': 131,
 '25042': 130,
 '85201': 130,
 '5852': 130,
 '2939': 130,
 '59010': 130,
 '99739': 130,
 '9951': 130,
 '1987': 129,
 '42613': 129,
 '86803': 129,
 '1123': 129,
 '51181': 129,
 '56969': 129,
 '4471': 128,
 '1179': 128,
 '71596': 128,
 '78451': 128,
 'V452': 128,
 'V3100': 127,
 '1570': 126,
 '5793': 126,
 '56729': 126,
 '3558': 126,
 '11284': 124,
 '7750': 124,
 '53783': 124,
 '28803': 124,
 '43311': 124,
 'V721': 124,
 '9584': 124,
 '80703': 123,
 'E9444': 123,
 '55090': 123,
 '78722': 123,
 '40310': 122,
 '5571': 122,
 'V550': 122,
 '80702': 122,
 '03843': 122,
 '78702': 121,
 '34400': 121,
 '4660': 121,
 'V850': 121,
 '7454': 121,
 'E8150': 121,
 '2740': 121,
 '2512': 120,
 '25070': 120,
 '3331': 120,
 '4561': 120,
 '45381': 119,
 '7854': 118,
 '70712': 118,
 '45821': 117,
 '34889': 117,
 '70724': 116,
 '2387': 116,
 '03812': 116,
 '70721': 116,
 '51909': 116,
 '7755': 116,
 'V160': 116,
 '7473': 115,
 '57511': 115,
 '30001': 115,
 'V1079': 115,
 '501': 115,
 'E9300': 114,
 '0549': 114,
 '86405': 114,
 'V4571': 114,
 '30503': 114,
 '2883': 114,
 '41021': 114,
 '28959': 114,
 '53540': 114,
 '1173': 113,
 '70720': 113,
 '70725': 113,
 '73028': 113,
 '76502': 113,
 '99749': 112,
 '4590': 112,
 '3968': 112,
 '78650': 112,
 '45184': 112,
 'V113': 112,
 '3363': 111,
 '99709': 111,
 '2384': 111,
 '99594': 111,
 '25082': 111,
 '77211': 110,
 '2989': 110,
 '11289': 110,
 'E9420': 110,
 '42840': 109,
 '2721': 109,
 '7702': 108,
 '24290': 108,
 '0383': 108,
 '76523': 108,
 'V4976': 108,
 'E8849': 107,
 'V1201': 107,
 'E9305': 107,
 '73007': 106,
 '72887': 106,
 '5168': 106,
 '73008': 106,
 '24900': 105,
 '99881': 105,
 '5932': 105,
 '3559': 105,
 '53541': 104,
 '87343': 104,
 '5921': 104,
 '7852': 104,
 'E9429': 104,
 '7580': 103,
 '48282': 103,
 '80126': 102,
 'V1041': 102,
 '30400': 102,
 'V0259': 102,
 'V4972': 102,
 'E9290': 102,
 '5778': 102,
 'E8783': 101,
 '1121': 101,
 '6910': 101,
 'E9479': 101,
 '57400': 100,
 '80507': 100,
 '4404': 100,
 '9092': 100,
 '44489': 100,
 '70713': 100,
 '27401': 99,
 '8072': 99,
 '27803': 99,
 '4552': 99,
 '57450': 99,
 'E8810': 98,
 '28731': 98,
 'V1043': 98,
 '85200': 98,
 '7757': 98,
 '52100': 97,
 '1974': 97,
 '28984': 97,
 '2769': 97,
 '5693': 97,
 '1510': 97,
 '42989': 97,
 '25200': 96,
 'V1209': 96,
 '8602': 95,
 '7810': 95,
 '5720': 95,
 'E9426': 95,
 '56985': 95,
 '33182': 95,
 'V5332': 95,
 '4659': 95,
 '80704': 95,
 'V1009': 94,
 'E8122': 94,
 '45340': 94,
 '5855': 94,
 '37230': 94,
 'V1003': 94,
 '7804': 94,
 '73679': 93,
 '99883': 93,
 '4359': 93,
 '5790': 93,
 '1960': 93,
 'V854': 93,
 'V1021': 92,
 'V1253': 92,
 '80708': 92,
 '4822': 92,
 '85226': 92,
 '0785': 91,
 '6000': 91,
 'E8799': 91,
 '5178': 91,
 '36846': 90,
 '55320': 90,
 '81100': 90,
 '86500': 90,
 '07051': 90,
 '74602': 89,
 'V1749': 89,
 '72210': 89,
 'V1551': 89,
 '30520': 89,
 '5679': 88,
 '1578': 88,
 '3229': 88,
 'V642': 88,
 'V1584': 87,
 '80121': 87,
 '4295': 87,
 '1984': 87,
 '44022': 87,
 '44103': 87,
 '2411': 87,
 '34510': 86,
 '7948': 86,
 '7243': 86,
 '72992': 86,
 'V5883': 86,
 '7813': 86,
 '25081': 86,
 '4230': 86,
 '53290': 86,
 '85206': 85,
 '0382': 85,
 '9690': 85,
 '5695': 85,
 '56721': 85,
 '1363': 85,
 'V163': 85,
 '7318': 85,
 '4238': 85,
 '72886': 84,
 '25052': 84,
 'V8541': 84,
 '29650': 84,
 '5839': 83,
 '7211': 83,
 'E9379': 83,
 '2535': 83,
 '1508': 83,
 'V4283': 82,
 '2888': 82,
 '53082': 82,
 '5130': 82,
 '59080': 82,
 'V463': 82,
 'E9323': 82,
 '5370': 82,
 'E8121': 81,
 '7231': 81,
 '8910': 81,
 '59381': 81,
 '317': 81,
 '20190': 80,
 '43883': 80,
 '40291': 80,
 '04102': 80,
 '82101': 80,
 '1830': 80,
 '56889': 80,
 '7135': 80,
 '43882': 80,
 '41412': 79,
 '9998': 79,
 '34292': 79,
 '73710': 79,
 '4169': 79,
 '7101': 79,
 '86804': 79,
 '4870': 79,
 'V444': 79,
 '42769': 79,
 '4422': 79,
 'V851': 79,
 '45382': 78,
 '4532': 78,
 'E8708': 78,
 '99813': 78,
 '7230': 78,
 '51852': 78,
 ...}

In [43]:
len(dict_count_icd9_codes)

6919

In [44]:
total_icd9_category=[a for b in notes_icd_agg.ICD9_CATEGORY.to_list() for a in b]

In [45]:
dict_count_icd9_category=dict(Counter(total_icd9_category))
dict_count_icd9_category=dict(sorted(dict_count_icd9_category.items(),key=lambda x: x[1],reverse=True))

In [46]:
print(dict_count_icd9_category)

{'401': 20646, '427': 16774, '276': 14712, '272': 14212, '414': 14081, '250': 13818, '428': 13330, '518': 12997, '285': 12404, '584': 11147, 'V45': 8846, '599': 7199, '530': 7191, 'V58': 6998, '585': 6764, 'E87': 6483, '403': 6297, 'V10': 6204, '038': 6085, '995': 5480, '424': 5404, '410': 5301, '780': 5296, '244': 5101, '997': 5078, '785': 5048, '305': 5000, '998': 4948, '458': 4935, '486': 4732, 'V15': 4420, '041': 4399, '496': 4296, '996': 4251, '287': 3881, 'V12': 3782, '790': 3672, '507': 3608, 'E93': 3473, '493': 3400, '311': 3347, '511': 3218, '412': 3203, '707': 3117, '348': 3112, '765': 2959, 'E88': 2916, '571': 2865, '300': 2855, '733': 2749, '278': 2664, '416': 2636, 'V29': 2591, '774': 2522, '070': 2481, '578': 2382, '787': 2359, 'V30': 2349, '327': 2349, '770': 2297, '274': 2295, '482': 2197, '280': 2148, 'V49': 2142, 'V43': 2131, 'V05': 2126, '425': 2056, '303': 2024, 'E84': 1988, '286': 1961, '789': 1960, '788': 1952, '294': 1927, '600': 1901, '411': 1900, '440': 1816, '560': 1767, '198': 1747, '288': 1726, '357': 1725, '443': 1724, '572': 1697, '197': 1683, '441': 1667, '682': 1640, '799': 1624, '008': 1587, '112': 1580, '293': 1575, '345': 1557, '453': 1543, '779': 1502, '577': 1452, '562': 1448, '263': 1432, '434': 1426, '426': 1423, '715': 1421, '564': 1409, 'V44': 1386, '786': 1384, '362': 1375, 'E81': 1348, '784': 1345, '491': 1336, '724': 1330, '275': 1317, '331': 1307, '769': 1299, '431': 1294, '296': 1287, '438': 1283, '852': 1148, 'V42': 1129, '433': 1127, '291': 1126, '338': 1125, '162': 1116, '415': 1099, '413': 1093, '576': 1083, '553': 1083, '574': 1081, 'E94': 1073, '569': 1071, '519': 1065, '535': 1043, '567': 1041, '807': 1035, '570': 1034, '729': 1016, '284': 1012, '593': 986, 'V31': 983, '805': 976, '456': 975, '512': 970, 'V66': 969, '396': 891, 'V09': 884, '873': 864, '999': 851, 'V17': 827, '459': 816, '423': 805, '745': 786, '728': 775, '342': 768, '782': 765, '397': 765, 'V46': 748, '365': 732, 'V50': 730, '349': 723, '537': 716, '437': 715, 'V85': 713, '557': 709, '583': 693, '714': 684, '295': 681, '196': 680, '238': 680, '304': 674, '568': 674, '536': 673, '492': 664, '253': 662, 'E92': 649, '747': 647, '860': 642, '430': 617, '730': 616, '775': 603, '255': 601, '781': 588, '801': 585, '802': 585, '292': 577, '289': 576, 'E91': 568, '346': 563, '333': 558, '746': 554, '693': 543, '429': 534, '531': 531, '515': 529, '042': 522, '776': 518, '478': 513, 'V70': 512, '344': 508, '532': 505, '332': 505, '721': 502, 'E95': 500, '710': 494, '455': 491, '398': 489, 'V64': 482, '211': 479, '202': 477, '444': 467, '861': 461, '719': 460, '808': 458, '432': 456, '356': 456, '155': 438, '573': 436, 'V13': 435, '783': 434, '771': 428, '575': 425, '309': 421, '596': 420, '722': 417, '369': 411, 'V87': 406, '591': 398, '965': 391, '421': 387, '451': 386, '716': 378, '251': 365, '820': 363, 'E85': 358, '696': 356, '555': 355, '277': 345, 'V55': 337, '442': 325, '737': 325, 'V08': 319, '969': 318, 'V02': 315, '556': 314, '851': 311, '205': 302, '813': 299, '340': 297, '281': 295, '753': 295, '185': 294, 'V16': 292, '934': 291, '794': 290, '447': 290, '389': 290, '865': 287, '958': 286, '273': 285, '592': 285, '864': 283, '588': 276, '823': 276, '772': 275, 'E96': 274, '157': 271, '868': 269, '191': 268, '290': 267, 'V60': 266, '368': 264, '579': 261, 'V53': 261, '725': 261, '355': 259, '225': 256, '420': 255, '117': 253, '452': 251, '764': 250, '135': 249, '510': 248, '806': 248, '266': 247, '337': 245, '204': 243, '810': 243, '558': 239, '241': 237, '778': 236, '054': 235, 'V34': 235, '189': 234, '590': 231, '307': 230, '242': 227, '867': 221, '494': 221, 'E82': 216, '792': 216, '153': 214, '821': 211, '336': 210, '372': 210, '550': 210, '282': 210, '812': 210, '150': 205, '933': 204, '261': 203, '723': 202, 'V18': 201, '366': 196, '528': 196, '473': 196, '203': 195, '824': 195, '252': 194, '552': 193, '853': 192, '481': 191, '279': 191, '446': 182, '359': 180, '324': 180, '920': 179, 'V62': 177, '151': 176, '314': 175, '793': 174, '319': 172, '283': 172, '533': 170, '711': 168, '692': 166, '199': 165, 'V88': 164, '435': 161, '695': 157, '731': 157, '766': 156, '811': 155, '268': 154, '516': 154, 'V54': 153, '756': 151, '358': 151, '301': 151, '514': 149, '709': 145, '758': 144, '053': 143, '800': 140, '907': 139, '394': 139, '174': 138, '351': 138, 'V14': 137, '466': 137, '863': 135, '608': 134, '487': 134, '110': 133, '751': 133, '777': 132, '796': 132, '759': 131, 'V72': 129, '924': 129, '200': 128, '457': 127, '909': 126, '249': 125, '521': 124, '582': 123, '742': 122, '188': 122, '736': 121, '228': 121, '726': 119, '891': 118, '320': 117, '227': 116, 'V11': 116, '795': 115, '501': 115, '379': 114, '079': 114, '298': 113, '378': 113, '078': 112, '691': 111, '825': 110, '866': 110, '698': 110, '517': 109, '648': 109, '881': 107, '922': 107, '354': 106, '402': 105, '607': 104, '218': 104, '201': 103, '156': 103, '738': 102, '136': 101, '322': 98, 'E98': 97, '465': 95, '522': 94, '484': 92, '763': 92, '386': 91, '850': 90, '862': 90, '461': 89, '513': 89, '752': 89, '595': 89, '713': 87, '791': 86, '803': 85, '183': 81, '404': 81, '317': 81, '323': 80, '154': 78, '343': 78, '727': 77, '935': 76, '762': 75, '902': 75, '620': 75, 'V07': 74, '611': 74, '240': 72, '815': 71, '991': 71, '377': 71, '580': 71, '271': 70, '748': 70, '970': 69, '534': 69, '138': 68, '237': 68, '760': 68, '952': 67, '910': 67, '921': 65, '720': 65, '870': 65, '959': 65, '477': 65, '755': 64, '972': 64, '773': 63, '839': 62, '212': 62, '980': 62, '464': 62, '262': 61, '614': 60, '816': 60, 'E90': 60, '480': 58, '525': 58, '239': 58, '905': 57, '750': 57, '598': 57, '540': 57, '681': 56, '581': 56, '350': 56, '767': 56, '882': 55, '485': 55, '454': 54, '874': 54, '967': 54, '009': 53, '966': 52, '335': 51, '310': 51, '374': 51, '831': 51, '623': 50, '523': 50, '712': 50, '173': 49, '701': 49, '626': 48, '916': 48, '388': 48, '903': 48, '172': 47, '616': 47, '565': 47, '757': 47, '754': 47, '761': 47, '804': 47, 'V65': 46, 'E86': 46, '704': 46, '900': 45, '627': 44, '642': 44, '625': 44, '879': 44, '901': 44, '963': 44, 'E00': 44, '527': 43, '883': 43, 'V27': 43, '171': 42, '566': 42, '880': 41, '872': 41, '718': 41, '601': 41, '822': 40, '708': 40, '854': 40, '835': 39, '666': 39, '741': 39, '318': 39, '193': 39, '814': 39, '341': 39, '395': 38, '257': 38, '618': 38, '235': 38, '490': 38, '619': 38, '269': 38, '674': 37, '161': 37, '031': 37, '508': 37, '904': 37, 'V01': 36, '088': 36, '040': 36, '376': 36, '245': 35, '923': 34, '214': 34, '918': 34, '334': 34, '270': 34, 'V04': 34, '462': 33, '382': 33, '955': 33, '233': 33, '686': 33, '994': 33, '449': 33, '353': 32, 'V03': 32, '380': 31, '158': 31, '047': 31, '617': 31, 'V06': 30, '605': 30, '847': 30, '405': 30, '890': 29, '246': 29, '919': 29, '315': 29, '209': 29, '265': 29, '152': 29, '646': 28, '875': 27, '256': 27, 'V63': 27, '659': 27, '299': 27, '826': 27, 'V26': 27, '694': 26, '182': 26, '644': 26, '840': 26, '603': 26, '297': 26, '962': 26, '968': 26, '913': 26, '743': 25, '908': 25, '483': 25, '361': 25, '220': 25, '422': 25, '705': 24, '706': 24, '844': 24, '971': 24, '373': 24, '524': 24, '647': 23, '141': 23, 'V61': 23, '836': 23, '385': 22, '164': 22, '360': 22, '768': 22, '749': 22, '325': 22, '702': 22, '375': 21, 'V20': 21, '975': 21, '436': 21, '526': 21, '911': 21, '604': 20, '685': 20, '111': 20, '130': 19, '308': 19, '364': 19, '417': 19, '744': 18, '594': 18, '654': 18, '703': 18, '370': 17, '977': 17, '951': 17, '259': 17, '957': 17, '312': 17, '383': 17, '049': 17, '195': 17, '529': 16, '876': 16, '587': 16, '936': 16, '892': 16, '886': 16, '845': 16, '621': 16, '052': 16, '216': 16, '180': 16, '615': 16, '669': 16, '649': 15, '094': 15, '034': 15, '475': 15, '953': 15, '027': 15, '690': 15, '488': 14, '927': 14, '912': 14, '989': 14, '948': 14, '906': 14, '950': 14, '347': 14, '011': 14, '445': 14, '176': 14, '586': 14, '147': 13, '942': 13, '208': 13, '339': 13, '139': 13, '170': 13, '670': 12, '146': 12, '243': 12, '982': 12, '192': 12, '877': 12, '926': 12, '236': 12, '956': 12, '665': 12, 'V71': 12, '520': 11, '115': 11, '887': 11, '472': 11, '878': 11, '123': 11, '075': 11, '945': 11, 'V19': 11, '448': 11, '018': 11, 'V56': 11, '641': 11, 'E83': 11, '885': 11, '326': 11, 'V32': 11, '039': 11, '735': 11, '495': 10, '258': 10, '680': 10, '830': 10, '194': 10, '834': 10, '230': 10, '871': 10, '215': 10, '506': 10, '551': 10, '306': 10, '163': 10, 'V86': 10, '148': 10, '363': 10, '302': 10, '622': 9, '371': 9, '133': 9, '184': 9, '602': 9, '543': 9, '917': 9, '939': 9, '732': 9, '391': 9, '097': 9, '634': 9, '474': 9, '884': 9, '928': 9, '471': 8, '673': 8, '832': 8, '541': 8, '223': 8, '597': 8, '656': 8, '127': 8, '144': 8, '652': 8, '990': 8, 'E97': 8, '145': 8, '914': 8, '036': 7, 'E89': 7, '013': 7, '084': 7, '470': 7, '983': 7, '007': 7, '367': 7, '833': 7, 'V69': 7, '321': 7, '964': 7, 'E80': 7, '352': 7, '149': 7, 'V59': 7, '635': 6, '697': 6, 'V90': 6, '624': 6, '502': 6, '142': 6, '046': 6, '897': 6, '842': 6, '381': 6, 'E01': 6, '260': 6, '943': 6, '120': 6, '207': 6, '137': 6, '664': 6, '003': 6, '960': 6, '082': 6, '987': 5, '213': 5, '893': 5, '032': 5, 'V74': 5, '683': 5, '684': 5, '048': 5, '004': 5, '632': 5, '160': 5, '992': 5, '838': 5, '869': 5, '941': 5, '944': 5, '226': 4, '846': 4, '843': 4, '091': 4, 'V84': 4, '057': 4, '254': 4, '976': 4, '985': 4, '058': 4, '086': 4, '005': 4, '663': 4, '539': 4, '817': 4, '974': 4, '500': 4, 'V25': 4, '734': 4, '140': 4, '077': 4, '655': 4, '542': 4, 'V83': 4, '118': 4, '639': 4, '159': 4, '700': 4, '210': 4, '661': 4, '206': 3, '938': 3, '015': 3, '947': 3, '330': 3, '384': 3, '651': 3, '014': 3, '628': 3, '961': 3, '121': 3, '629': 3, '035': 3, '672': 3, '930': 3, 'V40': 3, '819': 3, '633': 3, '988': 3, '717': 3, '828': 3, '131': 3, '841': 3, '187': 3, '658': 3, '463': 3, '645': 3, 'V51': 3, '837': 3, '677': 2, '946': 2, '010': 2, '190': 2, 'V22': 2, '538': 2, '012': 2, '099': 2, '671': 2, '096': 2, '132': 2, '217': 2, '925': 2, '610': 2, '460': 2, 'E02': 2, '393': 2, '093': 2, 'V23': 2, '986': 2, 'E03': 2, '894': 2, '175': 2, '179': 2, '643': 2, '848': 2, '122': 2, '143': 2, '932': 2, '229': 2, '221': 2, '896': 2, '232': 2, 'V48': 2, '267': 2, '114': 2, '973': 2, '186': 2, '954': 2, '660': 2, '668': 2, '083': 1, '085': 1, '062': 1, '231': 1, '798': 1, '134': 1, '740': 1, '316': 1, '313': 1, '021': 1, 'V81': 1, '937': 1, '116': 1, 'E99': 1, '090': 1, '915': 1, '657': 1, 'V91': 1, '219': 1, '023': 1, 'V33': 1, '125': 1, '390': 1, '098': 1, '033': 1, '589': 1, '387': 1, '045': 1, 'V78': 1, 'V28': 1, '030': 1, '066': 1, 'V76': 1, 'V67': 1}

In [47]:
len(dict_count_icd9_category)

941

<table>
<tr>
<th> Datasets</th>
<th> Number of admissionIds</th>
<th> %coverage</th>
</tr>
<tr>
<td>Top 10 ICD9 codes</td>
<td>40562</td>
<td>76.93%</td>
</tr>
<tr>
<td>Top 20 ICD9 codes</td>
<td>43958</td>
<td>83.37%</td>
</tr>
<tr>
<td>Top 50 ICD9 codes</td>
<td>49534</td>
<td>93.95%</td>
</tr>
<tr>
<td>Top 10 ICD9 categories</td>
<td>44419</td>
<td>84.24%</td>
</tr>
<tr>
<td>Top 20 ICD9 categories</td>
<td>46143</td>
<td>87.51%</td>
</tr>
<tr>
<td>Top 50 ICD9 categories</td>
<td>51034</td>
<td>96.79%</td>
</tr>
</table>
This table shows how many average ICD9 codes are categories are there for each admids 
<table>
<tr><th>Type of ICD</th><th>Mean</th><th>Median</th></tr>
<tr><td>ICD9 codes</td><td>11.74</td><td>10</td></tr>
<tr><td>ICD9 categories</td><td>10.79</td><td>9</td></tr>
</table>

In [48]:
top10_icd9codes=list(dict_count_icd9_codes.keys())[:10]
top20_icd9codes=list(dict_count_icd9_codes.keys())[:20]
top50_icd9codes=list(dict_count_icd9_codes.keys())[:50]

In [49]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CODE_x.apply(lambda x:any(item in top10_icd9codes for item in x))].HADM_ID.count()

40562

In [50]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CODE_x.apply(lambda x:any(item in top20_icd9codes for item in x))].HADM_ID.count()

43958

In [51]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CODE_x.apply(lambda x:any(item in top50_icd9codes for item in x))].HADM_ID.count()

49354

In [52]:
top10_icd9category=list(dict_count_icd9_category.keys())[:10]
top20_icd9category=list(dict_count_icd9_category.keys())[:20]
top50_icd9category=list(dict_count_icd9_category.keys())[:50]

In [53]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CATEGORY.apply(lambda x:any(item in top10_icd9category for item in x))].HADM_ID.count()

44419

In [54]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CATEGORY.apply(lambda x:any(item in top20_icd9category for item in x))].HADM_ID.count()

46143

In [55]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CATEGORY.apply(lambda x:any(item in top50_icd9category for item in x))].HADM_ID.count()

51034

In [56]:
notes_icd_agg.ICD9_CODE_x.apply(lambda x:len(set(x))).median()
notes_icd_agg.ICD9_CODE_x.apply(lambda x:len(set(x))).mean()

11.738914387588666

In [57]:
notes_icd_agg.ICD9_CATEGORY.apply(lambda x:len(set(x))).median()
notes_icd_agg.ICD9_CATEGORY.apply(lambda x:len(set(x))).mean()

10.788870765846072

In [58]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CATEGORY.apply(lambda x:len(x)>10)]

        HADM_ID  ...                                      ICD9_CATEGORY
0      100001.0  ...  [458, 337, V58, 707, 403, 584, 250, V13, 578, ...
4      100009.0  ...  [278, V45, 411, V58, 996, 414, 272, 250, V15, ...
6      100011.0  ...  [860, 482, 864, 852, E81, 805, 807, 821, 890, ...
8      100016.0  ...  [458, 300, 255, 518, 758, 345, 507, V44, 478, ...
9      100018.0  ...  [278, 722, 707, V58, 432, 357, 250, 496, 585, ...
...         ...  ...                                                ...
52715  199981.0  ...  [455, E94, 996, 412, 414, 491, 272, 403, 280, ...
52716  199984.0  ...  [493, 414, 365, V15, 272, 427, 530, 410, 715, ...
52720  199992.0  ...  [E93, 443, 507, 427, 276, 112, 584, 244, 327, ...
52724  199998.0  ...  [V45, 518, 443, E87, 414, 272, 997, 427, 788, ...
52725  199999.0  ...  [V45, 786, 518, 482, 511, V49, 799, 414, 276, ...

[22068 rows x 22 columns]

Procedure codes in the whole MIMIC dataset. There are 52243 AdmIDs are there for which there are 2009 ICD9 PCS codes.<br> In the discharge summary which has 52726 admids there are ICD9 PCS codes for only 46841 (5885 do not have any codes corresponding to them). There are total 1989 unique ICD9 PCS codes in the discharge summary.

In [59]:
allmimic_procedure=pd.read_csv('/content/drive/My Drive/AlgoIntern/Data/PROCEDURES_ICD.csv')

In [60]:
allmimic_procedure.HADM_ID.nunique()

52243

In [61]:
adm_icdpcs=pd.read_csv('/content/drive/My Drive/AlgoIntern/Data/Data1.0/adm_icdpcs.csv')

In [62]:
adm_icdpcs

       HADM_ID  ...                                          icd10_pcs
0       100003  ...               0W3.P8ZZ,0D9.670Z,0D9.680Z,Misc,Misc
1       100006  ...  5A0.9357,5A0.9457,5A0.9557,3E0.3305,3E0.4305,X...
2       100007  ...                                          Misc,Misc
3       100009  ...                            Misc,Misc,Misc,5A1.221Z
4       100010  ...                                     Misc,Misc,Misc
...        ...  ...                                                ...
52238   199993  ...  Misc,027.G04Z,027.G0DZ,027.G0ZZ,02N.G0ZZ,02Q.G...
52239   199994  ...  5A1.935Z,5A1.945Z,0BH.17EZ,0BH.18EZ,5A1.D00Z,5...
52240   199995  ...   Misc,5A1.221Z,Misc,Misc,Misc,Misc,Misc,Misc,Misc
52241   199998  ...                                     Misc,Misc,Misc
52242   199999  ...                                  0W9.93ZZ,0W9.B3ZZ

[52243 rows x 3 columns]

In [63]:
allmimic_procedure.ICD9_CODE.nunique()

2009

In [64]:
len(set([a for b in adm_icdpcs.ICD9_CODE.apply(split_string_list).to_list() for a in b]))

2009

In [65]:
notes_icd

       SUBJECT_ID  ...                                          icd10_pcs
0           22532  ...                   Misc,0W9.93ZZ,0W9.B3ZZ,Misc,Misc
1           13702  ...  5A0.9357,5A0.9457,5A0.9557,0DH.67UZ,0DH.68UZ,3...
2           13702  ...  Misc,Misc,5A1.955Z,0B7.17DZ,0B7.18DZ,0BH.07DZ,...
3           13702  ...  5A1.955Z,0BH.17EZ,0BH.18EZ,Misc,Misc,0DJ.08ZZ,...
4           26880  ...  Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,0BH.17EZ...
...           ...  ...                                                ...
59647       93924  ...                                     Misc,Misc,Misc
59648       17782  ...                                                NaN
59649       96333  ...  Misc,Misc,Misc,Misc,Misc,5A1.935Z,5A1.945Z,Mis...
59650       66717  ...                            Misc,Misc,Misc,5A1.221Z
59651       73790  ...  0DJ.08ZZ,0BH.17EZ,0BH.18EZ,Misc,5A1.935Z,5A1.945Z

[59652 rows x 23 columns]

In [66]:
notes_icd.loc[notes_icd.ICD9_CODE_y.isna()].HADM_ID.count()

6284

In [67]:
notes_icd.loc[notes_icd.ICD9_CODE_y.isna()].HADM_ID.nunique()

5885

In [68]:
notes_icd_agg['ICD9_CODE_y']=notes_icd_agg.ICD9_CODE_y.apply(split_string_list)

In [69]:
total_icd9pcscodes=[a for b in notes_icd_agg.ICD9_CODE_y.to_list() for a in b if a != '']

In [70]:
dict_count_icd9pcscodes=dict(Counter(total_icd9pcscodes))
dict_count_icd9pcscodes=dict(sorted(dict_count_icd9pcscodes.items(),key=lambda x:x[1],reverse=True))

In [71]:
len(set(total_icd9pcscodes))

1989

In [72]:
len(dict_count_icd9pcscodes)

1989

Mean and median number of ICD9 PCS codes for each AdmIDs in the discharge summary table.

In [73]:
notes_icd_agg.ICD9_CODE_y.apply(lambda x:len(set(x))).mean()

4.25439062322194

In [74]:
notes_icd_agg.ICD9_CODE_y.apply(lambda x:len(set(x))).median()

3.0

In [75]:
print(dict_count_icd9pcscodes)

{'3893': 12866, '9604': 9493, '966': 9102, '9671': 8426, '9904': 7102, '3961': 6781, '9672': 5815, '8856': 5045, '3891': 4449, '3615': 4387, '9915': 4162, '8872': 3305, '3722': 3147, '3995': 3133, '9390': 2656, '3723': 2619, '3324': 2607, '4513': 2552, '9955': 2275, '9983': 2183, '8853': 2066, '331': 1999, '9907': 1987, '3612': 1897, '311': 1752, '9920': 1636, '3491': 1590, '3404': 1545, '4311': 1519, '40': 1502, '3613': 1497, '3895': 1493, '3897': 1462, '5491': 1420, '3521': 1415, '8841': 1243, '66': 1226, '9905': 1211, '3606': 1166, '3607': 1100, '8964': 1049, '3322': 999, '3323': 994, '3601': 994, '3761': 986, '3611': 945, '45': 847, '17': 818, '8855': 808, '640': 805, '9962': 760, '387': 750, '4523': 744, '14': 732, '8842': 723, '5459': 675, '8847': 667, '9910': 654, '3950': 650, '8659': 647, '159': 604, '4443': 590, '9960': 588, '4516': 578, '8848': 561, '9605': 558, '3721': 551, '9607': 538, '8622': 538, '8852': 522, '3845': 517, '3522': 506, '9925': 498, '5187': 472, '131': 471, '9929': 455, '4639': 445, '5122': 443, '3778': 441, '3783': 440, '3772': 439, '3990': 437, '22': 437, '5185': 434, '3614': 424, '46': 415, '3734': 412, '3512': 406, '3726': 404, '4562': 400, '13': 400, '3892': 398, '370': 395, '390': 384, '3979': 367, '3321': 358, '3929': 357, '9961': 355, '41': 349, '3142': 347, '3523': 345, '9359': 345, '3972': 343, '4233': 338, '8162': 335, '8163': 329, '7935': 327, '8604': 324, '5011': 321, '4131': 320, '8191': 317, '403': 315, '5411': 313, '4223': 312, '9462': 311, '3409': 305, '8611': 298, '8968': 295, '3964': 295, '4525': 294, '8628': 291, '5412': 289, '7779': 289, '8857': 288, '5059': 285, '4573': 284, '7936': 282, '309': 282, '93': 281, '8451': 279, '4319': 279, '8105': 276, '212': 275, '8960': 274, '9723': 271, '353': 266, '3727': 266, '3733': 259, '5188': 257, '9744': 255, '9229': 250, '3844': 244, '3794': 237, '3533': 233, '3949': 232, '4011': 230, '5110': 225, '8669': 221, '3524': 220, '3605': 215, '415': 212, '4524': 210, '8051': 208, '8605': 199, '3712': 199, '8754': 198, '3403': 197, '3931': 196, '9906': 194, '8382': 191, '3571': 184, '9914': 180, '8102': 177, '9656': 177, '8103': 177, '8452': 174, '8674': 168, '61': 166, '8851': 163, '7932': 162, '8849': 161, '5732': 159, '139': 158, '4576': 156, '4432': 156, '5198': 156, '63': 155, '544': 154, '598': 154, '239': 154, '5101': 151, '9971': 151, '9634': 151, '3179': 150, '8345': 149, '5569': 145, '4543': 141, '47': 141, '5503': 141, '3201': 140, '8314': 139, '3451': 138, '3963': 137, '4593': 136, '9921': 136, '5419': 135, '391': 135, '5498': 134, '7939': 134, '5523': 132, '4632': 130, '4591': 130, '8845': 129, '5012': 128, '7761': 127, '3951': 126, '7966': 126, '8339': 125, '9396': 125, '3479': 124, '2319': 123, '8104': 123, '151': 122, '8099': 122, '4823': 122, '8945': 122, '124': 121, '234': 121, '4542': 121, '9705': 118, '3736': 117, '3492': 117, '4575': 117, '3229': 116, '3348': 116, '4673': 116, '4611': 115, '3421': 114, '3327': 114, '4439': 113, '118': 112, '4621': 112, '5794': 110, '9749': 110, '8108': 110, '3818': 107, '5551': 105, '9608': 105, '9702': 105, '5421': 105, '8309': 102, '3812': 102, '8844': 101, '8152': 101, '7817': 100, '3956': 100, '3932': 98, '8607': 98, '3808': 98, '8843': 98, '3998': 97, '881': 97, '8415': 97, '5361': 96, '8919': 95, '9977': 95, '3199': 95, '110': 94, '5462': 94, '540': 91, '34': 91, '6561': 91, '5425': 90, '8106': 90, '8411': 90, '2309': 89, '3596': 89, '9969': 89, '5123': 88, '44': 87, '3959': 86, '42': 86, '8914': 84, '324': 84, '3973': 84, '527': 83, '113': 83, '4444': 83, '7749': 83, '8321': 83, '8609': 81, '3925': 81, '9815': 80, '294': 79, '5137': 79, '9633': 79, '7915': 78, '11': 78, '8961': 78, '8365': 78, '5351': 78, '48': 77, '8164': 77, '7789': 77, '4579': 76, '5349': 76, '3971': 76, '315': 75, '8751': 75, '206': 75, '4399': 75, '3391': 74, '4610': 73, '7906': 72, '9755': 72, '8949': 72, '7931': 72, '7769': 72, '4601': 72, '3957': 71, '3422': 71, '4241': 71, '202': 71, '9543': 70, '9928': 70, '5472': 70, '7902': 69, '8873': 69, '5022': 69, '543': 68, '4623': 68, '3975': 68, '8864': 68, '4675': 67, '3749': 67, '3885': 66, '5114': 66, '2101': 66, '359': 65, '4620': 65, '9659': 65, '503': 64, '8703': 63, '3539': 62, '3764': 62, '2751': 61, '7867': 61, '437': 61, '51': 61, '125': 61, '7676': 61, '3511': 60, '3514': 60, '4413': 60, '3174': 58, '8417': 58, '843': 58, '4824': 57, '5651': 57, '3731': 57, '3452': 57, '3616': 56, '3771': 56, '3814': 56, '7869': 56, '5423': 55, '4242': 55, '8962': 55, '8753': 55, '5771': 55, '458': 55, '4442': 54, '5091': 54, '3249': 53, '8151': 53, '481': 53, '9357': 53, '3799': 53, '7865': 53, '9341': 53, '863': 53, '5061': 53, '9635': 53, '9912': 53, '4709': 53, '7679': 53, '9802': 53, '8774': 52, '4252': 52, '4719': 52, '3699': 51, '3424': 51, '5593': 51, '5359': 51, '341': 50, '8154': 50, '4594': 50, '3974': 49, '3942': 49, '3886': 49, '3952': 49, '4029': 48, '3774': 48, '3328': 47, '8891': 47, '7962': 47, '2171': 46, '221': 46, '43': 46, '8867': 46, '3777': 46, '9703': 46, '4652': 46, '9354': 46, '4574': 45, '7692': 45, '3406': 45, '3228': 44, '392': 44, '7965': 43, '9900': 43, '4519': 43, '8854': 43, '4341': 42, '9923': 42, '7674': 42, '8874': 42, '5222': 42, '4603': 42, '3329': 41, '7672': 41, '153': 41, '4651': 40, '7905': 40, '2911': 39, '4685': 39, '4292': 39, '9609': 39, '8395': 39, '9356': 39, '3782': 38, '570': 38, '8412': 38, '3482': 38, '8472': 37, '12': 37, '3965': 37, '3728': 37, '9919': 37, '8775': 37, '3803': 37, '8107': 37, '3420': 37, '7909': 37, '3326': 36, '443': 36, '3129': 36, '5461': 36, '8601': 35, '9465': 35, '4582': 35, '7855': 35, '4429': 35, '8076': 35, '3791': 35, '9737': 35, '7975': 34, '3807': 34, '4641': 34, '9648': 34, '3401': 34, '7768': 34, '5369': 34, '3378': 34, '5463': 34, '109': 33, '8332': 33, '4674': 33, '4561': 33, '6849': 33, '243': 33, '8627': 32, '4595': 32, '5013': 32, '7675': 32, '560': 32, '4041': 32, '6549': 32, '2181': 32, '114': 32, '4461': 32, '7819': 32, '3922': 31, '5184': 31, '9741': 31, '3787': 31, '435': 31, '3806': 31, '7788': 31, '684': 30, '5102': 30, '8801': 30, '5252': 30, '3927': 30, '7933': 30, '3725': 30, '5136': 30, '857': 29, '92': 29, '9606': 29, '4863': 29, '5795': 29, '123': 29, '15': 29, '5749': 29, '5293': 29, '7901': 29, '8456': 28, '5310': 28, '3779': 28, '7937': 28, '8101': 28, '4105': 28, '184': 28, '4693': 28, '4389': 28, '4869': 28, '4502': 28, '8741': 28, '5029': 28, '3822': 27, '64': 27, '722': 27, '741': 27, '3775': 27, '6839': 27, '205': 27, '9909': 27, '242': 27, '9468': 27, '9952': 27, '5103': 27, '7815': 27, '343': 26, '3259': 26, '4572': 26, '5451': 26, '4467': 26, '3532': 26, '9981': 26, '7841': 26, '33': 26, '9227': 25, '3768': 25, '586': 25, '4613': 25, '91': 25, '3619': 25, '344': 25, '5282': 25, '7767': 24, '9344': 24, '3527': 24, '8683': 24, '7781': 24, '4281': 24, '5371': 24, '5781': 24, '5300': 24, '3220': 24, '554': 24, '539': 24, '5495': 24, '204': 24, '4679': 24, '62': 24, '7961': 24, '4431': 24, '3781': 23, '3846': 23, '8192': 23, '3926': 23, '3943': 23, '7859': 23, '3505': 23, '9547': 23, '537': 23, '7813': 22, '8016': 22, '8086': 22, '7971': 22, '4921': 22, '8364': 22, '325': 22, '3789': 22, '7857': 22, '2242': 22, '4514': 22, '8302': 22, '9729': 22, '613': 21, '5474': 21, '8876': 21, '9902': 21, '3816': 21, '3894': 21, '3724': 21, '7967': 21, '9959': 21, '2219': 21, '203': 21, '2102': 21, '7919': 21, '102': 21, '8344': 21, '5424': 20, '504': 20, '2759': 20, '762': 20, '609': 20, '4282': 20, '3776': 20, '4642': 20, '7818': 20, '24': 20, '3343': 19, '8135': 19, '9355': 19, '8401': 19, '9901': 19, '9782': 19, '2103': 19, '4671': 19, '9353': 19, '851': 19, '4469': 19, '7907': 18, '9917': 18, '16': 18, '8959': 18, '3143': 18, '5380': 18, '8015': 18, '5475': 18, '5112': 18, '5493': 18, '3732': 18, '8005': 18, '4694': 17, '50': 17, '9638': 17, '605': 17, '7785': 17, '9972': 17, '39': 17, '8343': 17, '2912': 17, '4530': 17, '445': 17, '4836': 17, '8721': 17, '3561': 17, '5994': 17, '3402': 16, '4862': 16, '5902': 16, '9627': 16, '5524': 16, '9788': 16, '3499': 16, '280': 16, '302': 16, '270': 16, '211': 16, '9649': 16, '3551': 16, '4881': 16, '782': 16, '4438': 16, '5201': 16, '3602': 16, '8672': 16, '864': 16, '8777': 16, '9224': 16, '7799': 16, '4681': 16, '526': 16, '323': 16, '5211': 16, '4466': 16, '5151': 16, '5296': 16, '8085': 16, '8865': 15, '374': 15, '4289': 15, '3888': 15, '346': 15, '3399': 15, '9979': 15, '4441': 15, '5141': 15, '9803': 15, '5717': 15, '7969': 15, '3976': 15, '8689': 15, '5169': 15, '9756': 15, '3141': 15, '3887': 15, '611': 15, '4342': 15, '1424': 14, '4643': 14, '8877': 14, '6902': 14, '689': 14, '8673': 14, '8543': 14, '59': 14, '94': 14, '610': 14, '3241': 14, '4512': 14, '7765': 14, '7745': 14, '7934': 14, '8866': 14, '2172': 14, '4195': 14, '5492': 14, '9939': 14, '3552': 14, '9762': 14, '3525': 14, '3999': 14, '5121': 14, '3484': 14, '8589': 13, '8761': 13, '7771': 13, '8663': 13, '8244': 13, '7868': 13, '9963': 13, '3481': 13, '8675': 13, '3882': 13, '8667': 13, '8385': 13, '485': 13, '310': 13, '3962': 13, '3924': 13, '2551': 13, '3941': 13, '3848': 13, '6829': 13, '6029': 13, '293': 13, '3809': 13, '3899': 12, '412': 12, '2757': 12, '9701': 12, '8081': 12, '7851': 12, '4422': 12, '7926': 12, '7964': 12, '291': 12, '52': 12, '2749': 12, '524': 12, '4522': 12, '8814': 12, '407': 12, '3425': 12, '5179': 12, '5069': 12, '65': 12, '4104': 12, '8471': 12, '9751': 12, '8013': 12, '3572': 11, '3459': 11, '3339': 11, '4023': 11, '8006': 11, '9911': 11, '500': 11, '8153': 11, '5209': 11, '395': 11, '3953': 11, '3766': 11, '2263': 11, '8319': 11, '5671': 11, '3765': 11, '5164': 11, '5111': 11, '5631': 11, '3604': 11, '6909': 11, '5718': 11, '8457': 11, '122': 10, '5372': 10, '4103': 10, '5143': 10, '5783': 10, '688': 10, '479': 10, '4042': 10, '4224': 10, '7747': 10, '8803': 10, '8861': 10, '6816': 10, '5553': 10, '4463': 10, '4701': 10, '3805': 10, '5464': 10, '8421': 10, '852': 10, '4462': 10, '7963': 10, '5259': 10, '8388': 10, '2121': 10, '430': 10, '3821': 10, '72': 10, '3923': 10, '3239': 10, '3144': 9, '623': 9, '4534': 9, '5014': 9, '7770': 9, '4541': 9, '1755': 9, '222': 9, '9982': 9, '4064': 9, '9761': 9, '3804': 9, '449': 9, '3711': 9, '3473': 9, '8776': 9, '8938': 9, '7807': 9, '5792': 9, '8147': 9, '7631': 9, '4533': 9, '8662': 9, '7639': 9, '3863': 9, '7903': 9, '686': 9, '404': 9, '7777': 9, '8138': 9, '126': 9, '7974': 9, '84': 9, '9903': 9, '7847': 8, '9999': 8, '7904': 8, '9814': 8, '7912': 8, '5502': 8, '3867': 8, '303': 8, '3193': 8, '2211': 8, '8542': 8, '3802': 8, '8871': 8, '2756': 8, '5104': 8, '4686': 8, '4024': 8, '2632': 8, '8838': 8, '6952': 8, '5341': 8, '7849': 8, '576': 8, '602': 8, '9655': 8, '9636': 8, '9941': 8, '7914': 8, '55': 8, '8137': 8, '9657': 8, '7731': 8, '740': 8, '4945': 8, '3883': 8, '3797': 8, '3798': 8, '7809': 8, '32': 8, '8879': 8, '5674': 8, '7077': 8, '4511': 8, '8181': 8, '3889': 8, '295': 7, '5280': 7, '5051': 7, '5499': 7, '8541': 7, '7534': 7, '8534': 7, '7917': 7, '7863': 7, '7812': 7, '8313': 7, '252': 7, '625': 7, '5501': 7, '9789': 7, '3966': 7, '8422': 7, '8245': 7, '7861': 7, '3009': 7, '8626': 7, '8011': 7, '8133': 7, '7050': 7, '8363': 7, '1736': 7, '8623': 7, '7748': 7, '8342': 7, '8897': 7, '9425': 7, '4021': 7, '5301': 7, '5789': 7, '251': 7, '7976': 7, '7643': 7, '3834': 7, '5641': 7, '7805': 7, '8113': 7, '5183': 7, '8349': 7, '3393': 7, '128': 7, '1742': 7, '5132': 7, '6539': 7, '734': 7, '7309': 7, '3472': 7, '4287': 7, '5163': 7, '3868': 7, '71': 7, '3320': 7, '7916': 7, '3493': 7, '8083': 7, '304': 7, '441': 7, '765': 7, '4852': 6, '3762': 6, '379': 6, '6951': 6, '7913': 6, '3562': 6, '4682': 6, '8132': 6, '7972': 6, '5159': 6, '5682': 6, '8418': 6, '8236': 6, '7673': 6, '9978': 6, '9623': 6, '8087': 6, '9601': 6, '5024': 6, '5212': 6, '5839': 6, '8021': 6, '4672': 6, '5504': 6, '3427': 6, '5194': 6, '1733': 6, '639': 6, '3164': 6, '8521': 6, '3865': 6, '1474': 6, '8229': 6, '7787': 6, '54': 6, '9230': 6, '8165': 6, '70': 6, '4551': 6, '3471': 6, '3631': 6, '806': 6, '245': 6, '4499': 6, '9670': 6, '8863': 6, '4676': 6, '8394': 6, '3930': 6, '282': 6, '2109': 6, '7911': 6, '7569': 6, '3847': 6, '531': 6, '3955': 6, '4515': 6, '704': 5, '321': 5, '6011': 5, '7109': 5, '695': 5, '5787': 5, '8969': 5, '713': 5, '4939': 5, '5302': 5, '3843': 5, '2279': 5, '4414': 5, '529': 5, '9739': 5, '7691': 5, '6141': 5, '4571': 5, '4106': 5, '2501': 5, '5311': 5, '4901': 5, '4449': 5, '8574': 5, '8661': 5, '5321': 5, '4942': 5, '127': 5, '3175': 5, '3171': 5, '5329': 5, '6859': 5, '1682': 5, '3691': 5, '480': 5, '4059': 5, '401': 5, '4531': 5, '7791': 5, '4495': 5, '7739': 5, '1879': 5, '835': 5, '3958': 5, '7678': 5, '4503': 5, '8744': 5, '8212': 5, '8939': 5, '7987': 5, '5304': 5, '7024': 5, '7985': 5, '5675': 5, '4054': 5, '3334': 5, '326': 5, '332': 5, '3599': 5, '8944': 5, '2252': 5, '6529': 5, '5381': 5, '8111': 5, '683': 5, '362': 5, '8036': 5, '8136': 5, '2752': 5, '8585': 5, '2264': 5, '8407': 5, '5733': 5, '427': 5, '8762': 5, '8039': 5, '8256': 5, '4875': 5, '7803': 5, '9957': 5, '5652': 5, '8146': 5, '8769': 5, '9391': 4, '8893': 4, '132': 4, '2100': 4, '2049': 4, '3591': 4, '2631': 4, '489': 4, '9239': 4, '3603': 4, '4849': 4, '4501': 4, '859': 4, '8584': 4, '2811': 4, '8963': 4, '5909': 4, '8772': 4, '7764': 4, '5554': 4, '2188': 4, '8875': 4, '8494': 4, '3198': 4, '5993': 4, '7719': 4, '8926': 4, '402': 4, '4232': 4, '7741': 4, '8606': 4, '7699': 4, '8112': 4, '5362': 4, '4022': 4, '8209': 4, '8017': 4, '7762': 4, '5196': 4, '562': 4, '4592': 4, '7929': 4, '394': 4, '8012': 4, '3570': 4, '8896': 4, '5822': 4, '7171': 4, '4210': 4, '8098': 4, '8088': 4, '7973': 4, '4412': 4, '5305': 4, '77': 4, '4995': 4, '9851': 4, '313': 4, '3582': 4, '4401': 4, '9205': 4, '6563': 4, '6591': 4, '8536': 4, '8594': 4, '3862': 4, '7908': 4, '3866': 4, '3426': 4, '3786': 4, '850': 4, '4403': 4, '8850': 4, '7763': 4, '8246': 4, '5979': 4, '3593': 4, '9988': 4, '2241': 4, '761': 4, '3773': 4, '4240': 4, '4255': 4, '3553': 4, '3029': 4, '3423': 4, '6149': 4, '3173': 4, '5303': 4, '4258': 4, '715': 4, '8166': 4, '8375': 4, '4254': 4, '7766': 4, '3991': 4, '69': 4, '3954': 4, '781': 4, '9712': 4, '2262': 4, '8145': 4, '585': 4, '3884': 4, '101': 4, '74': 3, '3609': 3, '18': 3, '6632': 3, '6901': 3, '9602': 3, '7952': 3, '8193': 3, '6712': 3, '633': 3, '5019': 3, '3992': 3, '8073': 3, '5383': 3, '5023': 3, '2742': 3, '8596': 3, '229': 3, '7773': 3, '492': 3, '9626': 3, '2951': 3, '409': 3, '4832': 3, '4493': 3, '1659': 3, '1809': 3, '4415': 3, '9342': 3, '8686': 3, '80': 3, '8183': 3, '4871': 3, '7552': 3, '8922': 3, '9771': 3, '7071': 3, '6491': 3, '8773': 3, '2009': 3, '7711': 3, '8221': 3, '8544': 3, '8778': 3, '5592': 3, '3833': 3, '3169': 3, '5586': 3, '9393': 3, '5793': 3, '7012': 3, '8050': 3, '8892': 3, '6269': 3, '8531': 3, '2432': 3, '2630': 3, '6823': 3, '651': 3, '9738': 3, '5581': 3, '3528': 3, '2301': 3, '1292': 3, '8361': 3, '8303': 3, '5384': 3, '10': 3, '889': 3, '8075': 3, '7816': 3, '7853': 3, '8591': 3, '5719': 3, '3880': 3, '3993': 3, '1371': 3, '1341': 3, '2731': 3, '5193': 3, '9346': 3, '6589': 3, '9449': 3, '4492': 3, '244': 3, '700': 3, '5162': 3, '3842': 3, '7561': 3, '9922': 3, '9976': 3, '287': 3, '9316': 3, '3224': 3, '8201': 3, '8379': 3, '8932': 3, '8195': 3, '2201': 3, '3881': 3, '3531': 3, '8241': 3, '1151': 3, '711': 3, '6841': 3, '4946': 3, '7988': 3, '8117': 3, '3148': 3, '3838': 3, '292': 3, '8694': 3, '7179': 3, '4879': 3, '9785': 3, '7742': 3, '8511': 3, '7852': 3, '1735': 3, '9820': 3, '6094': 3, '8128': 3, '2724': 3, '3836': 3, '3729': 3, '231': 3, '442': 3, '8377': 3, '9652': 3, '7359': 3, '4211': 3, '8331': 3, '73': 3, '2260': 3, '7072': 3, '5831': 3, '7866': 3, '7927': 3, '7814': 3, '31': 3, '8582': 3, '9618': 3, '4400': 3, '3795': 2, '4829': 2, '6941': 2, '3555': 2, '8862': 2, '8764': 2, '81': 2, '82': 2, '8134': 2, '8155': 2, '4052': 2, '7946': 2, '8950': 2, '3796': 2, '7693': 2, '7161': 2, '8937': 2, '4491': 2, '1609': 2, '3230': 2, '8387': 2, '5473': 2, '8696': 2, '9804': 2, '7921': 2, '8695': 2, '214': 2, '8759': 2, '8405': 2, '2162': 2, '53': 2, '8084': 2, '600': 2, '642': 2, '4529': 2, '76': 2, '8091': 2, '9215': 2, '339': 2, '4132': 2, '207': 2, '1829': 2, '5343': 2, '9427': 2, '8211': 2, '3145': 2, '4468': 2, '4640': 2, '5292': 2, '7760': 2, '1839': 2, '1756': 2, '2792': 2, '6411': 2, '861': 2, '764': 2, '7837': 2, '4251': 2, '8071': 2, '8041': 2, '4284': 2, '6996': 2, '9953': 2, '744': 2, '7925': 2, '4971': 2, '4382': 2, '8423': 2, '4019': 2, '5759': 2, '8402': 2, '8404': 2, '7984': 2, '9399': 2, '7956': 2, '4835': 2, '8026': 2, '3861': 2, '3928': 2, '5124': 2, '8573': 2, '721': 2, '3978': 2, '2939': 2, '9754': 2, '5784': 2, '8014': 2, '7858': 2, '6812': 2, '7922': 2, '7968': 2, '4497': 2, '7052': 2, '9308': 2, '436': 2, '8965': 2, '9622': 2, '233': 2, '5539': 2, '2722': 2, '4581': 2, '5734': 2, '5199': 2, '8179': 2, '8257': 2, '7784': 2, '8840': 2, '7092': 2, '8670': 2, '1475': 2, '6449': 2, '6498': 2, '7677': 2, '5213': 2, '8175': 2, '3227': 2, '7023': 2, '9653': 2, '763': 2, '8197': 2, '433': 2, '3720': 2, '7862': 2, '4259': 2, '6669': 2, '8272': 2, '8554': 2, '1291': 2, '9759': 2, '3341': 2, '5113': 2, '5251': 2, '7778': 2, '3379': 2, '7856': 2, '999': 2, '2041': 2, '9146': 2, '2169': 2, '4222': 2, '8122': 2, '8114': 2, '7759': 2, '5891': 2, '2761': 2, '253': 2, '8414': 2, '8581': 2, '4411': 2, '2161': 2, '3785': 2, '3342': 2, '7829': 2, '8665': 2, '9733': 2, '7845': 2, '3815': 2, '3898': 2, '8455': 2, '6095': 2, '9714': 2, '9326': 2, '1454': 2, '4947': 2, '603': 2, '7111': 2, '4882': 2, '729': 2, '7833': 2, '4904': 2, '4923': 2, '2933': 2, '8031': 2, '4563': 2, '4069': 2, '8419': 2, '7955': 2, '6662': 2, '411': 2, '8082': 2, '9352': 2, '75': 2, '856': 2, '736': 2, '5893': 2, '652': 2, '5253': 2, '7611': 2, '8046': 2, '472': 2, '8473': 2, '9619': 2, '9821': 2, '7978': 2, '5314': 2, '8089': 2, '8766': 2, '5900': 2, '8941': 2, '7733': 2, '6091': 2, '8281': 2, '8547': 2, '7864': 2, '8948': 2, '7804': 2, '8826': 2, '7532': 2, '643': 2, '580': 2, '2411': 2, '7989': 2, '3857': 2, '612': 2, '157': 2, '4199': 2, '7802': 2, '398': 2, '8049': 2, '3595': 2, '6496': 2, '7986': 2, '6959': 2, '4949': 2, '9995': 2, '8172': 2, '3161': 2, '7938': 2, '4521': 2, '4528': 2, '5779': 1, '199': 1, '9654': 1, '3542': 1, '9329': 1, '9916': 1, '5661': 1, '7061': 1, '6869': 1, '1652': 1, '7669': 1, '7808': 1, '4979': 1, '9639': 1, '7979': 1, '5186': 1, '7735': 1, '5672': 1, '3829': 1, '7645': 1, '3541': 1, '4526': 1, '8804': 1, '4198': 1, '9936': 1, '1741': 1, '4583': 1, '8386': 1, '8671': 1, '8116': 1, '772': 1, '4349': 1, '8222': 1, '3977': 1, '6062': 1, '5995': 1, '5662': 1, '474': 1, '5512': 1, '9805': 1, '5093': 1, '4101': 1, '8548': 1, '8952': 1, '9232': 1, '758': 1, '8525': 1, '8079': 1, '2061': 1, '6381': 1, '2753': 1, '3162': 1, '1459': 1, '5342': 1, '9753': 1, '1281': 1, '8482': 1, '9732': 1, '290': 1, '9735': 1, '5999': 1, '5295': 1, '811': 1, '6739': 1, '9463': 1, '9764': 1, '7843': 1, '9394': 1, '9503': 1, '8684': 1, '6099': 1, '2769': 1, '1264': 1, '7811': 1, '2723': 1, '60': 1, '6021': 1, '944': 1, '8918': 1, '247': 1, '8967': 1, '8199': 1, '83': 1, '5642': 1, '4283': 1, '5751': 1, '4931': 1, '8734': 1, '9303': 1, '9172': 1, '3192': 1, '1663': 1, '1681': 1, '106': 1, '7051': 1, '6142': 1, '4911': 1, '4500': 1, '6993': 1, '1434': 1, '8448': 1, '8096': 1, '6552': 1, '5497': 1, '8868': 1, '3172': 1, '5684': 1, '6441': 1, '708': 1, '680': 1, '4622': 1, '9945': 1, '820': 1, '6998': 1, '4876': 1, '5142': 1, '9826': 1, '1473': 1, '1479': 1, '9715': 1, '23': 1, '7942': 1, '9975': 1, '604': 1, '4464': 1, '3790': 1, '9204': 1, '7701': 1, '351': 1, '8545': 1, '5221': 1, '8934': 1, '9974': 1, '9926': 1, '883': 1, '7663': 1, '21': 1, '8301': 1, '9704': 1, '1821': 1, '771': 1, '2691': 1, '743': 1, '7983': 1, '7712': 1, '7702': 1, '6831': 1, '4552': 1, '1771': 1, '5312': 1, '751': 1, '7599': 1, '2059': 1, '5691': 1, '7646': 1, '2001': 1, '7697': 1, '4664': 

<table>
<tr>
<th>type of dataset</th><th>Number of Adm ids</th><th>% coverage</th>
</tr>
<tr>
<td>Top10 ICD9 PCS codes</td><td>33304</td><td>71.10%</td>
</tr>
<tr>
<td>Top20 ICD9 PCS codes</td><td>37931</td><td>80.98%</td>
</tr>
<tr>
<td>Top50 ICD9 PCS codes</td><td>40493</td><td>86.45%</td>
</tr>
</table>

In [76]:
top10_icd9pcscodes=list(dict_count_icd9pcscodes.keys())[:10]
top20_icd9pcscodes=list(dict_count_icd9pcscodes.keys())[:20]
top50_icd9pcscodes=list(dict_count_icd9pcscodes.keys())[:50]

In [77]:
top10_icd9pcscodes

['3893', '9604', '966', '9671', '9904', '3961', '9672', '8856', '3891', '3615']

In [78]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CODE_y.apply(lambda x:any(item in top10_icd9pcscodes for item in x))].HADM_ID.nunique()

33304

In [79]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CODE_y.apply(lambda x:any(item in top20_icd9pcscodes for item in x))].HADM_ID.count()

37931

In [80]:
notes_icd_agg.loc[notes_icd_agg.ICD9_CODE_y.apply(lambda x:any(item in top50_icd9pcscodes for item in x))].HADM_ID.nunique()

40493

Below code snippet is for extracting file from .gz compressed folders.

In [81]:
#import gzip
#import shutil
#with gzip.open('/content/drive/My Drive/AlgoIntern/Data/NOTEEVENTS.csv.gz', 'rb') as f_in:
#    with open('/content/drive/My Drive/AlgoIntern/Data/NOTEEVENTS.csv', 'wb') as f_out:
#        shutil.copyfileobj(f_in, f_out)

In [82]:
note_events=pd.read_csv('/content/drive/My Drive/AlgoIntern/Data/NOTEEVENTS.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [83]:
note_events.loc[note_events.CATEGORY=='Discharge summary'].HADM_ID.nunique()

52726

In [84]:
different_note_category=note_events.CATEGORY.unique().tolist()

>Total AdmIDS in the 'NOTEEVENTS' table is 58361 and different number of admids corresponding to various categories are shown below.

In [85]:
note_events.HADM_ID.nunique()

58361

In [86]:
for i in different_note_category:
  print("No. of unique AdmID for category "+i+":",note_events.loc[note_events.CATEGORY==i].HADM_ID.nunique())

No. of unique AdmID for category Discharge summary: 52726
No. of unique AdmID for category Echo: 23585
No. of unique AdmID for category ECG: 44185
No. of unique AdmID for category Nursing: 9070
No. of unique AdmID for category Physician : 8983
No. of unique AdmID for category Rehab Services: 2249
No. of unique AdmID for category Case Management : 619
No. of unique AdmID for category Respiratory : 3986
No. of unique AdmID for category Nutrition: 3167
No. of unique AdmID for category General: 3170
No. of unique AdmID for category Social Work: 1393
No. of unique AdmID for category Pharmacy: 68
No. of unique AdmID for category Consult: 50
No. of unique AdmID for category Radiology: 45526
No. of unique AdmID for category Nursing/other: 34890

In [87]:
print (different_note_category)

['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ', 'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition', 'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology', 'Nursing/other']

In [88]:
category_hadmids={'category':[],'Number_of_admissions':[]}
for i in different_note_category:
  # print("No. of unique AdmID for category "+i+":",note_events.loc[note_events.CATEGORY==i].HADM_ID.nunique())
  category_hadmids['category'].append(i)
  category_hadmids['Number_of_admissions'].append(note_events.loc[note_events.CATEGORY==i].HADM_ID.nunique())

In [89]:
pd.DataFrame.from_dict(category_hadmids)

             category  Number_of_admissions
0   Discharge summary                 52726
1                Echo                 23585
2                 ECG                 44185
3             Nursing                  9070
4          Physician                   8983
5      Rehab Services                  2249
6    Case Management                    619
7        Respiratory                   3986
8           Nutrition                  3167
9             General                  3170
10        Social Work                  1393
11           Pharmacy                    68
12            Consult                    50
13          Radiology                 45526
14      Nursing/other                 34890